/*
* Created by: Atri Sarker
* Created on: April, 2024
* Description: This file contains the css for calculations.php of the Calculator Calculator, a widget that takes in integer input, n and calculates the html code for the calculator of a regular n-sided polygon.
*/

#mainDiv {
  border: 4px solid;
  color: black;
  background: #ffffff;
  display: inline-block;
  padding: 16px;
  border-radius: 5px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
  margin: 4px;
}
