/*
* Created by: Atri Sarker
* Created on: April, 2024
* Description: This file contains the style.css for the index.php of the Calculator Calculator, a widget that takes in integer input, n and calculates the html code for the calculator of a regular n-sided polygon.
*/

#outputResult {
  border: 4px solid;
  background: #ead6bb;
  display: inline-block;
}

body {
  background: #b8f1ff;
  font-family: "Oswald", sans-serif;
  color: #0080c0;
}

h1 img {
  width: 144px;
  height: 48px;
}

#mainCanvas {
  width: 100%;
  height: auto;
}

iframe {
  width: 100vw;
  height: 580px;
  border: none;
  background-color: rgba(0,0,0,0);
}
